@import "tailwindcss";

@layer base {
  body {
    background-color: white;
    color: rgb(15 23 42);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
  
  #app {
    min-height: 100vh;
  }
}

