[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
    "npm ci"
]

[phases.build]
cmds = [
    "echo 'VITE_API_URL='$VITE_API_URL",
    "npm run build"
]

[start]
cmd = "npx serve -s dist -l $PORT"
