[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ['npm ci', 'npx playwright install chromium --with-deps']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'TRANSPORT=http node dist/index.js'
